<!doctype html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>HaitLab 自己紹介</title>
    </head>

    <body>
        <header>
            <h1>HaitLab チーム#自己紹介</h1>
        </header>

        <p>メンバー紹介</p>
        <ul>
            <li>たなかさん！！！</li>
            <li>つかもとさん！！！</li>
            <li>小林</li>
            <li>大角くん！！！</li>
        </ul>

        <section>
        <article>
            <h2>チームでオススメのDocbase記事</h2>
            <h3<a href="">投げたのお前ちゃうん？
                そうやね、手が滑った、ごめんなさい
                じゃあ取れや取れや、責任取れや
                なんで？自分のボールやろ？
                うん、俺らのボールや
                だからお前が投げたんやから取るんや
                で？だからどうして？
                は？
                俺に義務があるん？
                あるある
                どこに？
                じゃあお前らのチャリ畑捨てていい？
                俺ら取りに行かんで
                もちろん俺らは抵抗するで
                どう抵抗するん
                (拳を打ちつけて)
                拳で。
                じゃあ取ってや
                なんで？
                人に任しといて？
                君たち何年生？
                (再び拳を打ちつけて)
                ２１歳！
                </a></h3>
            <p>オススメの理由 : かっこいい。</p>
        </article>
        </section>

        <footer>
            Copyright(C) HaitLab
        </footer>
    </body>
</html>
